import React from "react";
import { useForm } from "react-hook-form";
import { SgInputCurrency } from "@seedgrid/fe-components";

export default function Example() {
  const { register } = useForm();

  return (
    <SgInputCurrency
      id="demo-minmax"
      label="Min e max"
      name="minmax"
      register={register}
      minValue={10}
      maxValue={100}
      currency="BRL"
    />
  );
}
