import React from "react";
import { useForm } from "react-hook-form";
import { SgInputCurrency } from "@seedgrid/fe-components";

export default function Example() {
  const { register } = useForm();

  return (
    <SgInputCurrency
      id="demo-empty"
      label="Pode ficar vazio"
      name="vazio"
      register={register}
      emptyValue="null"
      currency="BRL"
    />
  );
}
