"use client";

import React from "react";
import { SgStringAnimator, type SgStringAnimatorRef, SgButton } from "@seedgrid/fe-components";

export default function Example() {
  const animRef = React.useRef<SgStringAnimatorRef>(null);

  return (
    <div className="flex flex-col gap-4">
      <SgStringAnimator ref={animRef} sourceString="42" targetString="1337" stringAnimatorStyle="roller3d" alignTo="right" fontSize={28} />
      <SgButton size="sm" onClick={() => animRef.current?.startAnimation()}>Animar</SgButton>
    </div>
  );
}
