import { tComponents, useComponentsI18n } from "@seedgrid/fe-components";

function ClearButton({ onClear }: { onClear: () => void }) {
  const i18n = useComponentsI18n();

  return (
    <button onClick={onClear} aria-label={tComponents(i18n, "sg.input.clear")}>
      {tComponents(i18n, "sg.input.clear")}
    </button>
  );
}

export default ClearButton;
