import {
  SgComponentsI18nProvider,
  componentsMessagesEnUs,
  t,
  useComponentsI18n,
} from "@seedgrid/fe-components";

function MyComponent() {
  const i18n = useComponentsI18n();
  const clearLabel = t(i18n, "sg.input.clear");

  return <span>{clearLabel}</span>;
}

export default function App() {
  return (
    <SgComponentsI18nProvider locale="en-US" messages={componentsMessagesEnUs}>
      <MyComponent />
    </SgComponentsI18nProvider>
  );
}
